/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
body{
  background-image: url(/_next/static/media/weatherImg.363be963.jpg);
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.formContainer{
  width: 300px;
  position: static;
  gap:7px;
  display: flex;
  flex-direction: row;
}
.textbox{
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  width: 200px;
  height: 20px;
  box-shadow: 3px 3px 3px black;
  border-radius: 3px;
  z-index: 1;
  transition: background-color 0.3s,box-shadow 0.3s;
}
.textbox:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px black;
}
.NavButton{
  position: relative;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  height: 30px;
  width: 30px;
  box-shadow: 3px 3px 3px black;
  border-radius: 3px;
  transition: background-color 0.3s,box-shadow 0.3s;
  cursor: pointer;
}
.NavButton:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px black;
}
.NavIcon{
  right:10%;
  bottom: 10%;
  position: relative;
  width: 22px;
  height: 22px;
}
.resultContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 255, 255);
  bottom: 60px;
  padding: 5px;
  gap:10px;
  height: 120px;
  width: 235px;
  transition: background-color 0.3s,box-shadow 0.5s;
  box-shadow: 3px 3px 3px black;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5)
}
.cityName{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(48, 73, 235);
  opacity: 0.7;
}
.secondRow{
  gap:10px;
}
.temp{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgba(32, 41, 43, 0.76);
}
.desc{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgba(14, 39, 177, 0.76);
}
.errorContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  bottom: 100px;
  padding: 5px;
  gap: 10px;
  height: 30px;
  width: 235px;
  box-shadow: 3px 3px 3px black;
  transition: background-color 0.3s,box-shadow 0.5s;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5)
}
.errorText{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(236, 101, 101);
  opacity: 0.7;
}
.resultContainer:hover{
  box-shadow: 7px 7px 7px rgba(51, 105, 198, 0.623);
}
.errorContainer:hover{
  box-shadow: 7px 7px 7px rgb(244, 122, 122);
}
